@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #dbeafe, #e9d5ff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
}

.home-box h1 {
    font-family: 'Pacifico', cursive;
}

.container {
    background: white;
    width: 380px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.container h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #4f46e5;
}

.container p {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #4f46e5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4338ca;
}

.link-text {
    text-align: center;
    margin-top: 15px;
}

.link-text a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: bold;
}

.home-box {
    background: white;
    width: 700px;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.home-box h1 {
    color: #4f46e5;
    margin-bottom: 15px;
}

.home-box p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.nav-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.nav-buttons a {
    flex: 1;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    background: #4f46e5;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-buttons a:hover {
    background: #4338ca;
}

.logout {
    background: #ef4444 !important;
}

.logout:hover {
    background: #dc2626 !important;
}

